{% load static %}

<!-- ======= Education Section ======= -->
<section id="education" class="education">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Education</h2>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="education-item">
              <h4>Bachelor of Science, Computer Science</h4>
              <h5>2017 - 2022</h5>
              <p><em>Federal University Lokoja, Kogi State</em></p>
              <p> I got my Bachelor of Science</p>
            </div>
            <div class="education-item">
                <h4>Senior School Certificate</h4>
                <h5>2008 - 2014</h5>
                <p><em>Redeemed Desteve Royal Schools, Ungwan Romi, Kaduna</em></p>
                <p>Wrote the West Africa Examination Council and did well</p>
            </div>            
          </div>
          <div class="col-lg-6">
             <div class="education-item">
                <h4>First Leaving School Certificate</h4>
                <h5>2001 - 2008</h5>
                <p><em>ST. Georges Primary School, Rayfield, Jos</em></p>
                <p>Obtain my Primary School Certificate which was my first ever!</p>
            </div> 
          </div>            
          </div>
        </div>
      </div>
</section>
<!-- End education Section -->