{% load static %}

<!-- ======= Experience Section ======= -->
<section id="experience" class="experience">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Experience</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="experience-item">
                    <h4>Computer Training Coordinator</h4>
                    <h5>2015 - 2017</h5>
                    <p><em>Onlygod Computer Training Institute, Jos </em></p>
                    <ul>
                        <li>Carryout various business center works.</li>
                        <li>Taught as a computer instructor.</li>
                        <li>Worked in the Cafe</li>
                    </ul>
                </div>
                <div class="experience-item">
                    <h4>Management System Development Project</h4>
                    <h5>2019</h5>
                    <p><em>Lokoja Nigeria</em></p>
                    <ul>
                        <li>Developed System Management Project using Java.</li>
                        <li>Managed up to 7 projects or tasks at a given time while under pressure</li>
                        <li>Make suggestions for other groups.</li>
                    </ul>
                </div>           
            </div>
            <div class="col-lg-6">
                <div class="experience-item">
                    <h4>Google Developers Festival (DevFest)</h4>
                    <h5>2019</h5>
                    <p><em>Jos, Nigeria</em></p>
                    <ul>
                        <li>Volunteer for the festival.</li>
                        <li>I was also an attendee.</li>
                    </ul>
                </div>
                <div class="experience-item">
                    <h4>Industrial Training Fund (ITF)</h4>
                    <h5>2020 - 2021</h5>
                    <p><em>nHub Foundation Jos, Nigeria</em></p>
                    <ul>
                        <li>Did my internship.</li>
                        <li>Volunteer as an instructor.</li>
                        <li>Participated in Hackathon.</li>
                    </ul>
                </div>           
            </div>
        </div>
      </div>
      
</section><!-- End experience Section -->