{% load static %}

<!-- ======= Experience Section ======= -->
<section id="experience" class="experience">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Experience</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="experience-item">
                    <h4>Tech Lead/Team Lead, Full Stack Developer</h4>
                    <h5>2022</h5>
                    <p><em>Federal University Lokoja Lokoja, Nigeria</em></p>
                    <ul>
                        <li>Managed and contributed to the development of the school departmental website.</li>
                        <li>Collaborated and Developed the Frontend and Backend</li>
                    </ul>
                </div>
                <div class="experience-item">
                    <h4>Full Stack Developer Intern</h4>
                    <h5>2021</h5>
                    <p><em>HNG Lagos, Nigeria</em></p>
                    <ul>
                        <li>Developed noticeboard and holiday calender applications using Django, Javascript and React.</li>
                        <li>Collaborated with in-house web designers to create sleek and innovative UI design.</li>
                        <li>Built a plugin for the project.</li>
                    </ul>
                </div> 
                <div class="experience-item">
                    <h4>Software Developer Team Lead</h4>
                    <h5>2019</h5>
                    <p><em>Federal University Lokoja Lokoja, Nigeria</em></p>
                    <ul>
                        <li>Developed System Management Project using Java.</li>
                        <li>Managed up to 7 projects or tasks at a given time while under pressure</li>
                        <li>Make suggestions for other groups.</li>
                    </ul>
                </div>           
            </div>
            <div class="col-lg-6">
                <div class="experience-item">
                    <h4>Google Developers Festival (DevFest)</h4>
                    <h5>2019</h5>
                    <p><em>Jos, Nigeria</em></p>
                    <ul>
                        <li>Volunteer for the festival.</li>
                        <li>I was also an attendee.</li>
                    </ul>
                </div>
                <div class="experience-item">
                    <h4>Industrial Training Fund (ITF)</h4>
                    <h5>2020 - 2021</h5>
                    <p><em>nHub Foundation Jos, Nigeria</em></p>
                    <ul>
                        <li>Did my internship.</li>
                        <li>Volunteer as an instructor.</li>
                        <li>Participated in Hackathon.</li>
                    </ul>
                </div>           
            </div>
        </div>
      </div>
      
</section><!-- End experience Section -->